/* Reseteos Generales */
*{
  box-sizing: border-box;
}
ul, ol {
  padding: 0;
  }
li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: #000;
}
body {
font-family: Nunito, GandhiSerif-Regular, DINPro, ASAP, sans-serif;
margin: 0;
}

section {
  width: 300px;
  }

.container {
  max-width: 980px;
  margin: 0 auto;
}

header {
  background-color: black;
  opacity: 0.8;
  font-family: Nunito, GandhiSerif-Regular, DINPro, ASAP, sans-serif;
  }

header nav {
  /*background-color: black;
  background-size: cover;*/
  display: flex;
  justify-content: space-between;
  /*overflow: hidden;
  padding: 10px;*/
}
.mensaje-error {
  color: red;
  font-size: 12px;
  margin-top: 0px;
}
.logo {
  width: 40px;
  height: 30.45px;
  margin:10px;
}

.menu {
  width: 50px;
  height: 35px;
  margin:10px;
}

/*.menu {
  float: right;
}*/

.button-facebook {
  width: 100%;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  text-transform: uppercase;
  background-color: #5C6BC0;
  border: none;
  border-radius: 25px;
  margin-top: 10%;
  margin-bottom: 10%;
  }

div.principal{
    border-top: 2px solid #E0E0E0;
    border-bottom: 2px solid #E0E0E0;
  }

div.centro{
  height: 90vh;
  background-image: url(../img/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.priv{
  color: white;
  background:#D35400;
  opacity: 0.6;
  font-family: Nunito, GandhiSerif-Regular, DINPro, ASAP, sans-serif;

}

h1 {
  text-align: center;
  color: white;
  letter-spacing: 3px;
  font-family: Nunito, GandhiSerif-Regular, DINPro, ASAP, sans-serif;
  /*position: absolute;
  top: 35%;*/
}

p {
  text-align: center;
  color: white;
  font-family: Nunito, GandhiSerif-Regular, DINPro, ASAP, sans-serif;
  font-size: 13px;
  /*letter-spacing: 3px;
  position: absolute;
  top: 65%;
  left: 4%;*/
}
.mensaje-error {
  color: red;
  font-size: 12px;
}
.errorFormControl{
  border: 1px solid red;
  color: red;
}

.btnjugar {
  font-size: 14px;
  line-height: 1;
  background-color: white;
  border-radius: 500px;
  padding: 16px 48px 18px;
  color: black;
  text-decoration: none;
  font-family: DINPro;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  margin: 0 auto;
  text-align: center;
  width: 200px;
  /*position: absolute;
  top: 85%;
  left: 12%;*/
}


div.centroResultado{
  background-image: url(../img/fondo_mobile_resultados.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.h1Resultado {
  text-align: center;
  color: white;
  letter-spacing: 3px;
  font-family: GandhiSerif-Regular;
  font-size: 50px;
  margin-top: 30px;
  /*position: absolute;
  top: 35%;*/
}

.muestraResultados {
  font-family: DINPro-Bold;
  margin: 50px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  text-align: center;
  border-radius: 30px;
  max-width: 300px;
  height: 50px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btnpregunta {
  font-size: 14px;
  line-height: 1;
  background-color: white;
  border-radius: 500px;
  padding: 16px 48px 18px;
  color: black;
  text-decoration: none;
  font-family: DINPro-Bold;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  margin: 0 auto;
  text-align: center;
  width: 300px;
  height: auto;
  margin-bottom: 200px;
  /*position: absolute;
  top: 85%;
  left: 12%;*/
}

.btnRegister {
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 48px 18px;
  text-decoration: none;
  font-family: DINPro-Bold;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;

}

.btnjugar2 {
  font-size: 14px;
  line-height: 1;
  background-color: white;
  border-radius: 500px;
  padding: 16px 48px 18px;
  color: black;
  text-decoration: none;
  font-family: DINPro-Bold;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  margin: 0 auto;
  text-align: center;
  width: 300px;
  /*position: absolute;
  top: 85%;
  left: 12%;*/
}

.card-header{
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  color: #34435A;
  font-weight: bold;
  text-align: center;
}

.card{
  margin-top: 30px;
  max-width: 700px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.5);
}

.containerRegister {
  background-image: url(../img/Fondologin.jpg);
}

.form-control{
  border-radius: 10px;
}

.btn-primary{
  border-radius: 20px;
  width: 100px;
}



footer{
  background-color: black;
  font-size: 0.5em;
  padding-top: 5%;
  }
.footer-item-menu{
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 3px;
  margin-bottom: 3px;
}
.footer-menu{
  display: none;
}

.social-media-mobile{
  display: none;
}

.social-media{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.copyright-left{
  order:2;
}
.social-media img{
  width: 35px;
  margin: 5px;
}
.copyright-right {
  order: 1;
  flex-direction: column-reverse;
  display: flex;
  align-items: center;
}
.social-media-mobile {
  display: block;
  order:3;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 30%;
  margin-top: 20px;
}

.social-media-mobile img{
  width: 30px;
}

div.arg {
  display: flex;
  justify-content: center;
}
nav.desktop{
  display: none;
}
.footer-copyright{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h5 {
  text-align: center;
}

input[type=text] {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
}

input[type=email]{
   width: 100%;
   padding: 10px 15px;
   margin: 8px 0;
   box-sizing: border-box;
   border-radius: 10px;
}


input[type=password] {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
}

input[type=text].nacimiento {
    width: 32%;
    padding: 3px 15px;
    margin: 2px 0;
    box-sizing: border-box;
    border-radius: 30px;
    color: black;
    font-family: Nunito, GandhiSerif-Regular, DINPro, ASAP, sans-serif;
}

form.nacimiento{
  display:flex;
  justify-content: space-around;
}

span.strong {
  color: #AEB6BF;
  font-size: 0.8em;
  }

.generoBox{
  padding-top: 12px;
}

span.genero{
  color: black;
  font-size: 0.8em;
  padding: 10px;
  }

div.genero1{
  align-items: center;
  margin-left: 20%;
}


.button {
  width: 100%;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: #282828;
  border: none;
  border-radius: 25px;
  }

a.fin {
  color: black;
}

p.fin {
  color: black;
  font-size: 0.8em
}

div.fin{
  border-top: 2px solid #E0E0E0;
  border-bottom: 2px solid #E0E0E0;
}

h1.title{
  color:blue;
}

/* TODO: Hacer estilo para presentar pregunta */

h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #282828;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 3%;

}



.btn-opciones {
  color: #282828;
  background-color: #D3D3D3;
  font-size: 11px;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 48px 18px;
  border-width: 0;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  display: block;
  width: 20%;
  margin: 0 auto;
  margin-bottom: 0.3%;
}


.btndejardejugar {

color: #fff;
background-color: #3b5998;
font-size: 14px;
line-height: 1;
border-radius: 500px;
padding: 16px 48px 18px;
transition-property: background-color,border-color,color,box-shadow,filter;
transition-duration: .3s;
border-width: 0;
letter-spacing: 2px;
min-width: 160px;
text-transform: uppercase;
white-space: normal;
display: block;
width: 20%;
}


/* Sección Challenge */

.contenedor{
  overflow: hidden;
  height: 90vh;
  background-image: url(../img/Fondopregunta1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.contenedor1{
  overflow: hidden;
  background-image: url(../img/Fondopregunta1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cuerpo {
  background-color: rgba(255, 255, 255, 0.8);
}

.columnastexto {
  width: 45%;
  margin-right: 4.5%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.parrafochallenge1 {
  color: black;
  text-align: center;
  font-family: GandhiSerif-Bold;
  margin-top: 40px;
}

.titulo2{
  color: black;
  text-align: center;
  font-family: DINPro-Medium;
  font-size: 20px;
}

.parrafochallenge {
  color: black;
  text-align: center;
  font-family: DINPro-Medium;
}

.pie {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: DINPro-Light;
  letter-spacing: 1px;
}







/* / Imagenes Random */

.fondo1 {
height: 100vh;
background-image: url(../img/Fondopregunta1.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.fondo2 {
height: 100vh;
background-image: url(../img/Fondopregunta2.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.fondo3 {
height: 100vh;
background-image: url(../img/Fondopregunta3.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.fondo4 {
height: 100vh;
background-image: url(../img/Fondopregunta4.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.fondo5 {
height: 100vh;
background-image: url(../img/Fondopregunta5.jpg);
background-size: cover;
background-repeat: no-repeat;
}


.fondologin1 {
height: 100vh;
background-image: url(../img/Fondologin1.jpg);
background-size: cover;
background-repeat: no-repeat;
}





/* Media querys
==================== */
@media (min-width: 490px) {
  img.menu{
    display: none;
  }
  header nav{
    display: flex;
    justify-content: space-around;
  }
  nav.desktop {
    width: 70%;
    display: flex;
    color: white;
    align-items: center;
  }
  nav.desktop a{
    color: white;
    font-size: 15px;
  }
  footer.container{
    display: flex;
    flex-direction: column;
  }
  .footer-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer-copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 90px;
    padding: 0 3%;
  }
  .copyright-right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .copyright-right img {
    margin-left: 20px;
    width: 30px;
    height: 15px;
  }
  div.centro{
    background-image: url(../img/fondo_desktop-05.png);
  }
  .social-media-mobile {
    display: none;
}

  section {
      width: 300px;
      margin-left: 40%;
  }

  div.centroResultado{
    background-image: url(../img/fondo_desktop_resultados_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
