/* Reseteos Generales */
*{
  box-sizing: border-box;
}

/* div.centro{
  height: 90vh;
  background-image: url(../img/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */

.btncrear {
  font-size: 12px;
  line-height: 1;
  background-color: pink;
  border-radius: 400px;
  padding: 14px 26px 15px;
  text-decoration: none;
  font-family: DINPro;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  margin: 0 auto;
  width: 200px;
}



.card{
background-color: rgba(255, 255, 255, 0.3);

}


.card-header {
font-size: 16px;
text-transform: uppercase;
color: pink;
}
